page-financial {
    ion-fab{
        bottom: 10px !important;
    }
    .tabs{
        min-height: 50px;
        ion-col{
            font-size: 18px;
            text-align: center;
            border-bottom: 1px solid #15721f;
            border-left: 1px solid #15721f;
            &:nth-child(1){
                border-left: none;
            }
            span{
                position: relative;
                top:8px;
            }

            &.active{
                background: #15721f;
                color: #fff;
            }
        }
    }

    .types{
        text-align: center;
        ion-col{
            margin-top: 40px;
            span{
                position: relative;
                top: 15px;
                font-size: 18px;
            }
            &.active{
                span{
                    color: #15721f;
                    border-bottom: 1px solid #15721f;
                    font-weight: 800;
                    font-size: 26px;
                }
            }
            img{
                height: 100px;
                width: 100px;
            }
        }
    }
}
