<ion-content>
  <ion-row class="tabs">
    <ion-col *ngFor="let data of tabsArray" [ngClass]="{'active': selectedTab == data}" (click)="loadTypes(data)">
      <span>{{data}}</span>
    </ion-col>
  </ion-row>
  <ion-row class="types">
    <ion-col col-6 [ngClass]="{'active': selectedType == data.name}" *ngFor="let data of typesArray" (click)="setType(data)">
      <div>
        <img src="assets/imgs/financial/{{data.name}}.png" alt="">
      </div>
      <div>
        <span>{{data.name}}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-fab bottom right edge (click)="loadInsight()">
    <button ion-fab color="greenColor">
      <i class="fa fa-bar-chart"></i>
    </button>
  </ion-fab>

</ion-content>
