<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss('close')">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="subtype">
    <ion-col *ngFor="let data of subtypes" [ngClass]="{'active': selectedSubType == data.name}" (click)="setSubtype(data)">
      <div>
        <img src="assets/imgs/financial/{{data.name}}.png" alt="">
      </div>
      <div>
        <span>{{data.name}}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="jobType">
    <ion-col *ngFor="let data of jobType" [ngClass]="{'active': selectedJobType == data}" (click)="setJobType(data)">
      <div>
        <img src="assets/imgs/financial/{{data}}.png" alt="">
      </div>
      <div>
        <span>{{data}}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="input">
    <ion-item>
      <ion-label color="greenColor" floating>Amount</ion-label>
      <ion-input [(ngModel)]="enteredAmount"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row class="input">
    <ion-item>
      <ion-label color="greenColor" floating>Comment</ion-label>
      <ion-input [(ngModel)]="comment"></ion-input>
    </ion-item>
  </ion-row>
</ion-content>

<ion-footer (click)="dismiss('done')">
  <ion-row>
    <ion-col>
      <ion-toolbar color="greenColor">
        <ion-title>Done!</ion-title>
      </ion-toolbar>
    </ion-col>
    <ion-col class="paytm">
      <ion-toolbar>
        <img src="assets/imgs/mastek/paytm.png" alt="">
      </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-footer>
