page-crop-view-modal {
    .selectedImage{
        img{
            width: 100%;
        }
    }
    .list{
        .name::first-letter{
            text-transform: uppercase;
        }
    }
    .reccom{
        text-align: right;
    }

    ion-fab{
        bottom: 10px !important;
    }
}
