<ion-row class="selectedImage">
    <ion-col>
      <img [src]="'data:image/jpeg;base64,'+cropImage" *ngIf="cropImage"/>
    </ion-col>
</ion-row>

<ion-row *ngFor="let data of cropList">
    <ion-col>{{data.label}}</ion-col>
    <ion-col>{{data.probability}}</ion-col>
</ion-row>

<ion-row>
    <button ion-button (click)="loadReccomm()">Show Reccomendation</button>
</ion-row>

<ion-row>
    <ion-col col-12>{{categoyTitle}}</ion-col>
    <ion-col col-12>{{categorySubtitle}}</ion-col>
    <ion-col col-12>{{categoryContent}}</ion-col>
</ion-row>