<ion-content padding>
  <ion-row class="weather-header">
    <ion-col col-12>{{location}}</ion-col>
    <ion-col col-12>{{weatherType}}</ion-col>
    <ion-col col-12>{{currentTemp}}</ion-col>
  </ion-row>

  <ion-row *ngFor="let data of weatherArr" class="weather-body">
    <ion-col>{{data.day}}</ion-col>
    <ion-col>
      <span *ngIf="data.text == 'Sunny' || data.text == 'Mostly Sunny'">
        <ion-icon name="ios-sunny" class="sunny"></ion-icon>
      </span>
      <span *ngIf="data.text == 'Mostly Cloudy'">
        <ion-icon name="ios-cloudy" class="mostlyCloudy"></ion-icon>
      </span>
      <span *ngIf="data.text == 'Partly Cloudy'">
          <ion-icon name="ios-cloudy-night-outline"></ion-icon>
      </span>
      <span *ngIf="data.text == 'Scattered Thunderstorms' || data.text == 'Thunderstorms'">
          <ion-icon name="ios-thunderstorm" class="thunderstorm"></ion-icon>
      </span>
    </ion-col>
    <ion-col>{{data.low}}</ion-col>
    <ion-col>{{data.high}}</ion-col>
  </ion-row>

  <ion-grid class="footer">
      <ion-row>
          <ion-col>
            <div class="name">Sunrise</div>
            <div>{{sunrise}}</div>
          </ion-col>
          <ion-col>
            <div class="name">Sunset</div>
            <div>{{sunset}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <div class="name">Humidity</div>
              <div>{{humidity}}</div>
            </ion-col>
            <ion-col>
              <div class="name">Visibility</div>
              <div>{{visibility}}</div>
            </ion-col>
          </ion-row>
  </ion-grid>

</ion-content>
