ion-content, ion-footer, ion-header{
    font-family: Raleway;
}

.loading-wrapper{
    background: transparent !important;
    box-shadow: none !important;
    img{
        height: 120px;
        width: 120px;
    }
}

